* {
    padding: 0;
    box-sizing: border-box;
    font-size: 24px;
}

main {
    width: 25em;
    height: 37.5em;
    text-align: center;
    border: black 1px solid;
    margin: auto;
}

header {
    height: 15vh;
    background-color: gray;
}

form {
    background-color: peachpuff;
    
}

.close-button {
    background-color: red;
    height: 10px;
    width: 10px;
}

#weather-modal, #map-modal, #events-modal, #comments-modal {
    display: none;
    border: #000 solid 1px;
}